header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 193px;
    gap: 76px;
    border-bottom: 1px solid #E5E5E5;
    padding-left: 96px;
}

header h1{
    font-size: 48px;
    font-weight: 400;
}

.header-icon{
    color: #5C48D3;
}

.add-counter{
    margin-top: 104px;
    margin-bottom: 166px;
}
.add-counter button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 70px;
    width: 250px;
    font-size: 32px;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #5C48D3;
    
}

.add-counter button:hover{
    cursor: pointer;
    background-color: #5042a2;
    transition: all 0.3s ease;

}


.counters-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 150px;
}

.counter-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 270px;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 77px;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 35px;
}

.counter div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    height: 150px;
    width: 150px;
    color: white;
    background-color: #5C48D3;
    border-radius: 15px;
}
.counter button{
    border: none;
    background-color: white;
    font-size: 96px;
    font-weight: bold;
}

.counter button:hover{
    cursor: pointer;
    color: #5042a2;
    transition: all 0.3s ease;

}


.reset-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 150px;
    font-size: 32px;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #5C48D3;

}
.reset-button button:hover{
    cursor: pointer;
    background-color: #5042a2;
    transition: all 0.3s ease;

}